---
import Layout from "../layouts/Layout.astro";
import { AccountView } from "../components/account/AccountView";
---

<Layout title="Twój profil - Portfolio Manager">
  <div class="container mx-auto px-4 py-8">
    <AccountView client:load />
  </div>
</Layout>
